.cameraGrid {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-rows: 1fr minmax(150px, 20vh);
  grid-template-areas:
    "thumb"
    "footer";
}

.columnFull {
  color: var(--main-text-color);
  grid-column: 1 / span 4;
}

.back {
  position: absolute;
  top: 15px;
  left: 3%;
  width: 20px;
  fill: rgba(255, 255, 255, 0.5);
  transition: all 0.2s ease-in-out;
  appearance: none;
  background-color: transparent;
  border: 0;
}

.back:hover {
  fill: #fff;
}

.button {
  position: absolute;
  bottom: 5%;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  border: 0;
  fill: #fff;
}

.button.left {
  left: 3%;
}

.button.right {
  left: auto;
  right: 3%;
}

.thumb {
  grid-area: thumb;
  background-color: #333;
  position: relative;
}

.footer {
  grid-area: footer;
  text-align: center;
  padding: 15px;

  background-color: #fff;
}

.footerAction {
  display: grid;
  grid-template-rows: repeat(2, auto) 1fr;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.listContacts {
  width: 100%;
  height: 150px;
  background-color: red;
  margin-top: 15px;
}

.icon {
  width: 25px;
  border: 0;
  fill: #333;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
}

.time {
  grid-column: 1 / span 4;
}

.local {
  margin-bottom: 15px;
  margin-top: 5px;
}

.action {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--main-color);
  box-shadow: 0 0 0 4px #fff, 0 0 0 5px #bbbaba;
  cursor: pointer;
}
