.homeGrid {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-rows: 50px minmax(0, auto) 1fr;
  grid-template-areas:
    "top"
    "form"
    "content";

  overflow: hidden;
}

.header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 9;
}

.form {
  grid-area: form;
}

.content {
  height: 100%;
  overflow: auto;
  grid-area: content;
  display: grid;
  height: 100%;
  display: grid;
  grid-area: content;
  grid-auto-rows: auto;
}
