.chatGrid {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-rows: 50px minmax(0, 1fr) 50px;
  grid-template-areas:
    "top"
    "content"
    "footer";
}

.header {
  grid-area: header;
  z-index: 2;
}

.content {
  height: 100%;
  grid-area: content;
  padding: 15px;
  overflow: auto;

  display: grid;
  align-items: flex-end;
  grid-auto-rows: min-content;
  grid-gap: 10px;
}

.footer {
  width: 100%;
  grid-area: footer;
  border-top: 1px solid #ccc;
  z-index: 2;
}
