.wrapper {
  width: 100%;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.input {
  width: 100%;
  padding: 15px 30px 15px 15px;
  border: 0;
  font-size: 14px;
  font-family: var(--main-font-family);
  color: var(--main-text-color);
  outline: 0;
}

.close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  right: 2%;
  border: 0;
  transform: translateY(-50%);
  background-color: transparent;
  fill: var(--main-text-color);
  cursor: pointer;
}
